doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Productos
        style(type="text/css").
            * {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }

            body {
                font-family: 'Roboto', sans-serif;
                display: flex;
                flex-direction: column;
                /* margin-top: 150px; */
                justify-content: center;
                align-items: center;
                height: 100vh;
                background-color: #a86454;
            }

            table {
                margin-top: 30px;
                background-color: white;
                text-align: left;
                border-collapse: collapse;
                width: 100%;
            }

            th, td {
            padding: 20px;
            }

            td img {
                max-width: 85px;
            }

            thead {
            background-color: #243625;
            border-bottom: solid 5px #0f362d;
            color: white;
            }

            tr:nth-child(even) {
                background-color: #ddd;
            }

            tr:hover td {
                background-color: #369681;
                color: white;
            }

            p {
                display: flex;
                margin-top: 25px;
                margin-left: 115px;
                position: absolute;
            }

            p a {
                text-decoration: none;
                color: black;
            }

            p a:hover {
                font-weight: bold;
                color: #0f362d;
                border-bottom: 1px solid black;
            }
    body 
        div
        h1 Vista de productos
        .main-container
            table
                thead
                    tr
                        th Nombre
                        th Precio
                        th Foto
                ul
                    each pr in data
                        tr
                            td=pr.title
                            td=pr.price
                            - var img = pr.thumbnail
                            td
                                img(src=img, alt="")
            p
                a(href='/') Volver al formulario

